@import './modules/Bubble.css';

body {
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	overflow: hidden;
}
#app {
	width: 100%;
	height: 100%; 
	background: url('../img/just-waves.png') repeat;
	position: relative;
}
#app-config {
	margin: 25px;
	padding: 25px;
	position: absolute;
	z-index: 100;
}
